{% set selinux_status == ansible_facts['selinux']['status'] %}
{% if selinux_status == "enabled" %}
  "SELINUX IS enabled"
{% elif selinux_status == "disabled" %}
  "SELINUX IS DISABLED"
{% else %}
  "SELINUX NOT AVAILABLE"
{% endif %}
